.main{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    height: 600px;
    width: 600px;
    background-color: #EEE;


    .snake{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #0000FF;
        transition: all 0s ease;
        z-index: 999;

    }

    .belly{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: all 0s ease;
        &.belly-1{
            background-color: #1111FF;
            z-index: 15;
        }
        &.belly-2{
            background-color: #2222FF;    
        }
        &.belly-3{
            background-color: #3333FF;    
        }
        &.belly-4{
            background-color: #4444FF;    
        }
        &.belly-5{
            background-color: #5555FF;    
        }
        &.belly-6{
            background-color: #6666FF;    
        }
        &.belly-7{
            background-color: #7777FF;
        }
        &.belly-8{
            background-color: #8888FF;
        }
        &.belly-9{
            background-color: #9999FF;
        }
        &.belly-10{
            background-color: #AAAAFF;
        }
        &.belly-11{
            background-color: #BBBBFF;
        }
        &.belly-12{
            background-color: #CCCCFF;
        }
        &.belly-13{
            background-color: #DDDDFF;
        }
        &.belly-14{
            background-color: #DEDEFF;
        }
        &.belly-15{
            background-color: #DFDFFF;
        }
    }
}